@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <h3><label asp-for="Input.UserName"></label></h3>
                    <input asp-for="Input.UserName" class="form-control" />
                </div>
                <div class="form-group">
                    <h3><label asp-for="Input.Password"></label></h3>
                    <input asp-for="Input.Password" class="form-control" />
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <h4>
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </h4>
                    </div>
                </div>
                <div class="form-group" style="margin:0px;">
                    <button type="submit" class="btn btn-warning">Log in</button>
                </div>
                <div class="form-group">
                    <h4>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </h4>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-warning" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
